@media screen and (min-width: 528px){
  main {
    padding: 16px;
  }
}

/* Tablet */
@media screen and (min-width: 768px){
  
}

/* >= Laptop */
@media screen and (min-width: 992px){
  main {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 900px;
    height: 600px;
    max-width: initial;
  }

  main .about {
    display: flex;
    padding: 0 10%;
    align-items: center;
  }

  main .about #profile {
    width: 200px;
    margin: 1em 0;
  }

  main .about .info {
    padding: 20px;
  }

  main .about h1 {
    text-align: initial;
  }

  main .divider {
    margin: 0 20%;
  }

  main .socials {
    display: flex;
    align-items: center;
  }

  main .socials .info {
    position: relative;
    width: 300px;
  }

  main .socials ul {
    position: relative;
    flex-grow: 1;
  }
}