body {
  background: #D1D1D1;
  margin: 0 auto;
  font: "Verdana"
  padding: 10px left;
}
.builds { margin: 10px; }
h1 { margin: 10px; }
h3 { margin: 20px; }
h4 { margin: 10px; }
.intro{ margin: 10px; }

table
{
	margin: 20px;
	width: auto;
	background-color: #BFBFBF;
}

td,th
{
    white-space: nowrap;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

th:last-child
{
	white-space: normal;                                      
	width:75%;                                               
}

td:last-child
{
	white-space: normal;                                      
	width:75%;                                               
}

span.update{
	background-color: #DFDFDF;
}

div.info{
	background-color: #BFBFBF;
	/*border-style: solid;
	border-color: black;
	border-width: 1px;*/
	position: fixed;
    top: 10px;
    right: 10px;
	text-align: center;
	width: 20%;
}

div.updates{
	background-color: #BFBFBF;
	position: fixed;
    top: 150px;
    right: 10px;
	text-align: center;
	width: 20%;
	height: 75%;
	/*overflow-y: scroll; add this if too much news!*/
}

a{
	text-decoration: none;
}

@media screen and (max-width: 800px) {
/* applies only if the screen is narrower than 800px */
	div.info {
	background-color: #BFBFBF;
	/*border-style: solid;
	border-color: black;
	border-width: 1px;*/
	position: static;
    top: 10px;
    right: 10px;
	text-align: center;
	}
}