@import "main.css";

main {
  width: 100%;
  max-width: 512px;
  height: 100%;
  margin: 0 auto;
  padding: 3%;
  background-color: #FFF;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

main .about #profile {
  display: block;
  width: 75%;
  max-width: 250px;
  margin: 0 auto;
  border-radius: 50%;
}

main .about h1 {
  text-align: center;
}

main .divider {
  height: 0;
  margin: 0 30px;
  border-bottom: 2px solid rgba(0,0,0,.3);
}

main .socials ul {
  list-style: none;
  padding: 0;
}

main .socials ul li {
  padding: 8px 0;
}

main .socials ul li:first-child {
  padding-top: 0;
}

main .socials ul li a {
  display: block;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  color: #fff;
  background-color: #000;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

main .socials ul li a span {
  height: 30px;
  line-height: normal;
}

#github {
  background-color: #24292e;
}

#twitter {
  background-color: #1da1f2;
}

#twitch {
  background-color: #6441a4;
}

#youtube {
  background-color: #e60000;
}