body{
	margin: 0 auto;
	padding: 0 auto;
	background-color: #BFBFBF;
	font-size: 14pt;
}
#kop{
	text-align: center;
	font-size: 46pt;
	margin: 0.5% auto;
}

.title{
	font-family: Cambria;
	font-size: 20pt;
	margin-top: 0%;
}

#intro{
	padding-top: 4%;
	padding-bottom: 4%;
	background-color: #666666;
	vertical-align: center;
	font-family: Verdana;
}

.info{
	list-style-type: none;
	display: inline-block;
	font-size: 16pt;
	text-align: left;	
}

#info1{
	padding-left: 25%;
	
}

#mail{color: black;}

#me{
	height: 225px;
}

#meDiv{
	float: right;
	padding-right: 25%;
}

.wrap1{
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	background-color: #666666;
	vertical-align: middle;   
	text-align: center;
	font-family: Verdana;
}

.wrap2{
	/*height: 40%;*/
	padding-top: 2%;
	padding-bottom: 2%;
	background-color: #7F7F7F;
	vertical-align: middle;
	text-align: center;
	font-family: Verdana;
}

.opleidingen{
	list-style-type: none;
	display: inline-block;
	text-align: left;
}

#menu{
	padding: 10px;
	padding-top: 25%;
	padding-bottom: 25%;
	list-style-type: none;
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
	background-color: rgba(0,0,0,0.2);
	font-family: Cambria;
}

.menuBtn{
	margin-top: 25%;
	margin-bottom: 25%;
}

.menuA{
	text-decoration: none;
	color: white;
}

#menuDiv{
	background-color: rgba(0,0,0,0.6);
	font-size: 12pt;
	color: red;
	position: fixed;
	top: 0px;
	height: 100%;
}
